## Investigasi sampel data titanic berikut dengan cara :
1. Cek secara head, tail, sample, info lalu observasi apa yang bisa anda peroleh ?
2. Lakukan Statistical Summary dengan mengekstrak informasi yang didapat dari observasi anda ?
3. Cek apakah ada duplikat dan bagaimana handlenya ?
4. Cek apakah ada missing value, berapa persentasenya jika ada, dan bagaimana cara handlenya ?

## Import Libraries

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [4]:
# import data
df = pd.read_excel('titanic.xlsx')
df.head()

   survived                                             name     sex      age
0         1                    Allen, Miss. Elisabeth Walton  female  29.0000
1         1                   Allison, Master. Hudson Trevor    male   0.9167
2         0                     Allison, Miss. Helen Loraine  female   2.0000
3         0             Allison, Mr. Hudson Joshua Creighton    male  30.0000
4         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000

In [6]:
# Melihat 5 baris pertama
print(df.head())

   survived                                             name     sex      age
0         1                    Allen, Miss. Elisabeth Walton  female  29.0000
1         1                   Allison, Master. Hudson Trevor    male   0.9167
2         0                     Allison, Miss. Helen Loraine  female   2.0000
3         0             Allison, Mr. Hudson Joshua Creighton    male  30.0000
4         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0000

In [7]:
# Melihat 5 baris terakhir
print(df.tail())

     survived                                     name     sex   age
495         1  Mallet, Mrs. Albert (Antoinette Magnin)  female  24.0
496         0        Mangiavacchi, Mr. Serafino Emilio    male   NaN
497         0               Matthews, Mr. William John    male  30.0
498         0                Maybery, Mr. Frank Hubert    male  40.0
499         0                McCrae, Mr. Arthur Gordon    male  32.0

In [8]:
# Melihat sampel acak dari dataset
print(df.sample(5))

     survived                                         name     sex   age
480         1     Laroche, Miss. Simonne Marie Anne Andree  female   3.0
437         1  Hart, Mrs. Benjamin (Esther Ada Bloomfield)  female  45.0
450         1        Hocking, Mrs. Elizabeth (Eliza Needs)  female  54.0
376         0                   Collander, Mr. Erik Gustaf    male  28.0
27          1      Bishop, Mrs. Dickinson H (Helen Walton)  female  19.0

In [9]:
# Melihat informasi umum dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  500 non-null    int64
 1   name      500 non-null    object
 2   sex       500 non-null    object
 3   age       451 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 15.8+ KB
None

In [10]:
# Statistik deskriptif untuk kolom numerik
print(df.describe())

         survived         age
count  500.000000  451.000000
mean     0.540000   35.917775
std      0.498897   14.766454
min      0.000000    0.666700
25%      0.000000   24.000000
50%      1.000000   35.000000
75%      1.000000   47.000000
max      1.000000   80.000000

In [11]:
# Statistik deskriptif untuk semua kolom termasuk non-numerik
print(df.describe(include='all'))

          survived                            name   sex         age
count   500.000000                             500   500  451.000000
unique         NaN                             499     2         NaN
top            NaN  Eustis, Miss. Elizabeth Mussey  male         NaN
freq           NaN                               2   288         NaN
mean      0.540000                             NaN   NaN   35.917775
std       0.498897                             NaN   NaN   14.766454
min       0.000000                             NaN   NaN    0.666700
25%       0.000000                             NaN   NaN   24.000000
50%       1.000000                             NaN   NaN   35.000000
75%       1.000000                             NaN   NaN   47.000000
max       1.000000                             NaN   NaN   80.000000

In [12]:
# Memeriksa apakah ada duplikasi
print(df.duplicated().sum())

1

In [13]:
# Menghapus baris duplikasi
df = df.drop_duplicates()

In [14]:
# Memastikan duplikasi telah dihapus
print(df.duplicated().sum())

0

In [15]:
# Menghitung jumlah nilai yang hilang di setiap kolom
print(df.isnull().sum())

survived     0
name         0
sex          0
age         49
dtype: int64

In [16]:
# Menghitung persentase nilai yang hilang
print((df.isnull().sum() / len(df)) * 100)

survived    0.000000
name        0.000000
sex         0.000000
age         9.819639
dtype: float64

In [18]:
#  Mengisi nilai yang hilang dengan rata-rata

df['age'] = df['age'].fillna(df['age'].mean())

In [21]:
# -Menghapus baris dengan nilai yang hilang
df = df.dropna()

In [22]:
# - Menghapus kolom dengan nilai yang hilang
df = df.dropna(axis=1)

In [23]:
# Menyimpan data ke file CSV
df.to_csv('hasil_analisis_titanic.csv', index=False)

In [24]:
# Menyimpan data ke file Excel
df.to_excel('hasil_analisis_titanic.xlsx', index=False)